@import "~normalize.css/normalize.css";

.svg {
  &::before {
    content: "";
    display: inline-flex;
    width: 36px;
    height: 44px;
    background-image: svg-load('../img/location.svg', fill=red, stroke='');
    background-size: contain;
  }

  &:hover {
    &::before {
      background-image: svg-load('../img/location.svg', fill=blue, stroke='');
    }
  }
}